@import reset

!gutter = 10px
!full_width = 960px
!width = 700px

!colora = #06C

@-webkit-keyframes spin 
  from
    -webkit-transform: rotate(0deg) scale(100%)
  50%
    -webkit-transform: rotate(180deg) scale(200%)
  to
    -webkit-transform: rotate(360deg) scale(100%)

html
  overflow: auto
  background: #FFF

body
  font-size: 62.5%
  line-height: 2em
  background: #FFF
  padding-bottom: 200px

a
  color: #06C
  text-decoration: none
  border-bottom: 1px solid #CCC
  &:visited
    border-bottom-color: #EEE
  &:hover
    border-bottom-color: #06C

header
  width = !width
  margin = 2*!gutter "auto" 0 "auto"
  padding = !gutter 0
  h1
    font-size: 14px
    font-family: Times
    font-weight: normal
    letter-spacing: 0.1em
    color: #CCC
    font-style: italic
    line-height: 100px
    a
      text-decoration: none
      text-transform: uppercase
      color: #06C
      font-style: normal
      margin-right: 0.1em

#frame
  display: block
  overflow: hidden
  height: 320px
  position: relative
  
  width: 100%
  min-width = !width
  max-width = !full_width
  margin: 0 auto
    bottom: 40px
  
  #art
    position: absolute
    left: 50%
    margin-left: -480px
    overflow: hidden
    
  &.mini
    height: 10px
    margin-bottom: 0
    background: #F9F9F9
  
  a.reload
    position: absolute
    left: 50%
    margin-left = (!width * 0.5) - !gutter - 20px
    text-align: right
    bottom = !gutter
    line-height: 19px
    font-size: 14px
    font-weight: bold
    color: #DDD
    border: none
    background: #FFF
    padding-top: 1px
    width: 20px
    text-align: center
    border-radius: 20px
    -webkit-border-radius: 20px
    -moz-border-radius: 20px
    -webkit-transition-property: -webkit-transform, color
    -webkit-transition-duration: 0.5s
    box-shadow: 0 0 4px rgba(0,0,0,0.2)
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.2)
    -moz-box-shadow: 0 0 4px rgba(0,0,0,0.2)
    &:hover
      color = !colora
      -webkit-transform: rotate(360deg) scale(1.2)
  
  .empty, .home
    position: absolute
    line-height: 100px
    top: 50%
    left: 50%
    margin-top: -50px
    text-align: center
    width: 100px
    text-transform: uppercase
    font-size: 14px
    border-radius: 50px
    -webkit-border-radius: 50px
    -moz-border-radius: 50px
    box-shadow: 0 0 4px rgba(0,0,0,0.2)
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.2)
    -moz-box-shadow: 0 0 4px rgba(0,0,0,0.2)
    
  .empty
    background: black
    color: white
    margin-left = -50px - 100px - !gutter

  a.home
    background: white
    color: black
    margin-left = - 50px -100px + !gutter
    &:hover
      background = !colora
      color: white
  

article
  font-size: 13px
  line-height: 20px
  color: #444
  outline-style: none
  outline-width: 0
  width = !width
  margin: 10px auto
  content
    width: 400px
    display: block

  h1
    font-size: 36px
    line-height: 40px
    margin: 40px 0
    font-weight: normal
    color: #000
    width = !width
  
  h2, h3, h4, h5, h6
    color: #000
  
  h2
    line-height: 20px
    margin: 20px 0
    text-transform: uppercase
    font-size: 15px

  p+p, p + figure:not(.wide) + p
    text-indent: 1.5em

  pre
    padding: 10px 0
    
  ul,ol
    margin = !gutter 0
  ol
    list-style: decimal
  ul
    list-style: circle
  
  code
    font-size: 1.05em
  
  figure
    width: 280px
    float: right
    margin-right: -300px
    clear: right
    
    a
      border: none
      margin: 0
      padding: 0
    
    &.wide
      float: none
      margin = !gutter 0
      width = !width
    &.right
      text-align: right
  
    .caption
      margin = !gutter 0
      font-size: 12px
      color: #999
  
      a.credit
        display: block
        font-size: 10px
        text-transform: uppercase
        border: none
        color = #69C

code
  &.ruby
    .comment
      color: #999
    .string
      color: #409b1c
    .keywords
      color: #ff7800
    .entity
      color: #3b5bb5
    .variable
      color: #999
    .constant
      color: #999

  &.shell
    .prompt
      color: #999

nav
  display: block
  clear: both
  overflow: auto
  width: 700px
  margin: 0 auto
  line-height: 20px
  padding: 10px 0
  font-size: 12px
  h2
    color: #CCC
    font-size: 12px
    text-transform: uppercase
    float: left
    margin-top: 2px
  ul
    margin-left: 100px
    width: 400px
    li
      float: left
      margin-right: 10px
      color: #DDD
      line-height: 20px
      font-size: 12px
      a
        line-height: 19px
        font-size: 12px
        text-decoration: none
      &.special:hover
        color: #FF0

#buy
  display: block
  text-align: center
  font-size: 18px
  line-height: 100px
  border: none
