@import reset

$gutter: 10px
$full_width: 960px
$width: 700px

$colora: #0066cc

html
  overflow: auto
  background: white

body
  font-size: 62.5%
  line-height: 2em
  background: white
  padding-bottom: 60px

a
  color: #0066cc
  text-decoration: none
  border-bottom: 1px solid #cccccc
  &:visited
    border-bottom-color: #eeeeee
  &:hover
    border-bottom-color: #0066cc

header
  width: $width
  margin: 2 * $gutter auto 0 auto
  padding: $gutter 0
  h1
    font-size: 14px
    font-family: Times
    font-weight: normal
    letter-spacing: 0.1em
    color: #cccccc
    font-style: italic
    line-height: 100px
    a
      text-decoration: none
      text-transform: uppercase
      color: #0066cc
      font-style: normal
      margin-right: 0.1em

#frame
  display: block
  overflow: hidden
  height: 320px
  position: relative
  width: 100%
  min-width: $width
  max-width: $full_width
  margin: 0 auto
    bottom: 40px
  &.mini
    height: 10px
    margin-top: (-10px / 2)
    background: #f9f9f9
  &.notfound
    height: 310px
  #art
    position: absolute
    left: 50%
    top: 50%
    margin-left: -480px
    overflow: hidden
    height: 320px
    margin-top: (-320px / 2)
    border-bottom: 10px solid black
  &.notfound #art
    height: 40px
    margin-top: -20px
  .grain
    background: url("/images/grain.png")
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
  &.notfound .grain
    top: 140px
    height: 40px
  .empty, .home
    position: absolute
    line-height: 100px
    top: 50%
    left: 50%
    margin-top: -50px
    text-align: center
    width: 100px
    text-transform: uppercase
    font-size: 14px
    border-radius: 50px
    -webkit-border-radius: 50px
    -moz-border-radius: 50px
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2)
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1)
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2)
  .empty
    background: black
    color: white
    margin-left: -50px - 100px - $gutter
  a.home
    background: white
    color: black
    margin-left: 50px + $gutter
    border: none
    &:hover
      background: $colora
      color: white

#refresh-art
  height: 20px
  background: url("/images/frame-shadow.png") top no-repeat
  margin-top: -40px
  padding: 10px 0
  margin-bottom: 20px
  &.mini
    background-position: center -1px
  a
    line-height: 19px
    font-size: 14px
    font-weight: bold
    color: white
    border: none
    background: #CCC
    padding-top: 1px
    width: 20px
    text-align: center
    width: 20px
    position: absolute
    left: 50%
    margin-left: $width / 2 - 20px
    border-radius: 20px
    -webkit-border-radius: 20px
    -moz-border-radius: 20px
    -webkit-transition-property: -webkit-transform, background-color
    -webkit-transition-duration: 0.5s
    -moz-transition-property: -moz-transform, background-color
    -moz-transition-duration: 0.5s
    -o-transition-property: transform, background-color
    -o-transition-duration: 0.5s
    font-family: Helvetica, Arial, sans-serif
    &:hover
      background-color: #F33
      -webkit-transform: rotate(360deg) scale(1.2)
      -moz-transform: rotate(360deg) scale(1.2)
      -o-transform: rotate(360deg) scale(1.2)

@-moz-document url-prefix()
  #refresh-art a
    padding:
      top: 4px
      left: 2px
    line-height: 10px
    height: 16px
    width: 18px
    font-size: 20px
    font-weight: normal


article
  font-size: 13px
  line-height: 20px
  color: #444444
  outline-style: none
  outline-width: 0
  width: $width
  margin: 10px auto
  content
    width: 400px
    display: block
  h1
    font-size: 36px
    line-height: 40px
    margin: 40px 0
    font-weight: normal
    color: black
    width: $width
  h2, h3, h4, h5, h6
    color: black
  h2
    line-height: 20px
    margin: 20px 0
    text-transform: uppercase
    font-size: 15px
  p+p, p + figure:not(.wide) + p
    text-indent: 1.5em
  pre
    padding: 10px 0
  ul,ol
    margin: $gutter 0
  ol
    list-style: decimal
  ul
    list-style: circle
  code
    font-size: 1.05em
  figure
    width: 280px
    float: right
    margin-right: -300px
    clear: right
    a
      border: none
      margin: 0
      padding: 0
    &.wide
      float: none
      margin: $gutter 0
      width: $width
    &.right
      text-align: right
    .caption
      margin: $gutter 0
      font-size: 12px
      color: #999999
      a.credit
        display: block
        font-size: 10px
        text-transform: uppercase
        border: none
        color: #6699cc

code
  &.ruby
    .comment
      color: #999999
    .string
      color: #409b1c
    .keywords
      color: #ff7800
    .entity
      color: #3b5bb5
    .variable
      color: #999999
    .constant
      color: #999999
  &.shell
    .prompt
      color: #999999

nav
  display: block
  clear: both
  overflow: auto
  width: 700px
  margin: 0 auto
  line-height: 20px
  padding: 10px 0
  font-size: 12px
  h2
    color: #cccccc
    font-size: 12px
    text-transform: uppercase
    float: left
    margin-top: 2px
  ul
    margin-left: 100px
    width: 400px
    li
      float: left
      margin-right: 10px
      color: #dddddd
      line-height: 20px
      font-size: 12px
      a
        line-height: 19px
        font-size: 12px
        text-decoration: none
      &.special:hover
        color: yellow
