%link{:href => 'http://www.myopenid.com/server', :rel => 'openid.server'}
%link{:href => 'http://chrislloyd.myopenid.com', :rel => 'openid.delegate'}
%link{:href => 'http://chrislloyd.myopenid.com', :rel => 'openid2.local_id'}
%link{:href => 'http://www.myopenid.com/server', :rel => 'openid2.provider'}
%meta{:content => 'http://www.myopenid.com/xrds?username=chrislloyd.myopenid.com', 'http-equiv' => 'X-XRDS-Location'}
