#frame{:style => 'height:320px'}
  #art
  %a.reload{:href => '.', :title => 'Generate new artwork'} ↻

%a#buy{:href => '#'} Wear this pattern
  

%nav
  %h2 Pages
  %ul
    - @pages.each do |p|
      %li
        %a{:href => page_path(p), :title => p.title}= p.title

%nav
  %h2 Talks
  %ul
    %li.special
      %a{:href => 'http://vimeo.com/7862027', :title => 'Video'} The Pub at the End of the Universe
    %li
      %a{:href => 'http://vimeo.com/6306420', :title => 'Video'} Tyrone's Tuff  Lovin



%nav
  %h2 Elsewhere
  %ul
    %li.special
      %a{:href => 'http://catch.thelincolnshirepoacher.com'} The Catch
    %li
      %a{:href => 'http://github.com/chrislloyd'} Github
    %li
      %a{:href => 'http://twitter.com/chrislloyd'} Twitter

%nav
  %h2 Contact
  %ul
    %li
      %a{:href => 'mailto:christopher.lloyd@gmail.com'} christopher.lloyd@gmail.com
