!!!
%head
  %meta{:charset => 'UTF-8'}
  
  %script{:type => 'text/javascript', :src => 'http://use.typekit.com/usy7uck.js'}
  :javascript
    try{Typekit.load();}catch(e){}
  
  %style
    :sass
      h1
        font-size: 16px
        text-transform: uppercase
    
%body
  %header
    %h1.tk-ff-dagny-web-pro The Lincolnshire Poacher
    .tk-ff-meta-web-pro!= render_article(@article)
    