!!! xml
%urlset{:xmlns => "http://www.sitemaps.org/schemas/sitemap/0.9"}
  %url
    %loc http://thelincolnshirepoacher.com
    %priority 1.0
    %changefreq daily
  - @pages.each do |page|
    %url
      %loc== http://thelincolnshirepoacher.com#{page_path(page)}
      %priority 0.6
      %changefreq monthly
