-# title: Quelling Juggernauts
-# published: 2009-10-21 10:00

= figure 'philip-iv.png', :caption => '<i>Philip IV</i> by Diego Velázquez (1624), Museo del Prado.'

:markdown
  Philip IV had the odds against him when to inherited the Spanish throne from his father. He was only 16 years old and Spain was committed to major conflicts on all its borders. The British didn’t want to be a part of the Catholic Church, the Portugese didn’t want to be part of Spain and the French… well, who can blame him for arguing with the French? These quarrels had been going on for three generations and Spain was burnt out and tired.
  
  Before I go any further, I must let you know that Philip IV is often seen as the end of Habsburg dynasty. He failed to help the country or win any of the wars. Despite this, I want to look at the style in which he was depicted. While other rulers at the time ([Louis XIV](http://en.wikipedia.org/wiki/Louis_XIV_of_France), I’m looking at you) were depicted in a Byzantine fashion, Diego Velázquez (the court painter) placed Philip in spartan scenes and purposely limited the convolution of the works. You wouldn't guess the man in the portrait on the right was of one of the most powerful men in the world.
  
  Jumping forward a few centuries, I recently ate at [Ritual](http://www.ritualorganics.com), a restaurant in Nelson’s Bay. It sits between a Blockbuster video store (displaying posters of Miley Cyrus) and a greasy chicken shop. The heart of fucking nowhere. It would be foolhardy, however, to expect that Ritual’s food reflects its surroundings.

= figure 'carl-kenzler.png', :caption => 'Carl Kenzler and his food.<a href="http://www.bestrestaurants.com.au/restaurants/NSW-Sydney-ritualrestaurant.aspx" title="Best Restaurants of Australia" class="credit">Photo Credit</a>'

:markdown
  Opening by reservation only, there were four people the night I was there. On their website chefs Carl & Kelie Kenzler explain that that they only “seat 12 customers maximum, therefore you are assured of personalised service.” With my three dining companions, I was treated to Cappucino jubes, ‘sphereised’ Tom Yum soup and liquid nitrogen peppercorns. It was sensational.
  
  I was concerned about how such a brilliant restaurant was able to operate in the middle of nowhere with only four customers. When Carl came over to discuss the meal he explained that as well as having family in Nelson’s Bay, he is able to focus on delivering amazing food. His goal is to offer the best experience to his customer. If he were in Sydney (as I would have expected most Chefs of his calibre to be), his challenge would not be in making the dishes perfect, it would be in trying to serve 40 people a night. He _purposely_ cuts back his business to _grow quality_.
  
  Like Carl, Philip wanted to do the best job he possibly could. He didn't want to be seen to be caught up in frivolities so Velázquez painted him in a poorly lit room with minimal props. This painting was _purposely_ cuts back superfluous decoration to _grow repute_.
  
  
  ---
  
  I've noticed recently that web applications are building limits directly into their business models. [Pinboard](http://pinboard.in) by Maciej Ceglowski and [Fever](http://feedafever.com) by Shaun Inman are two examples. Pinboard charges you 0.1¢ for each existing user, so the more users there are, the more you pay. Fever is a  feed reader which requires you to host your own webserver (no simple task).
  
  Why limit your userbase like this? Don't you want as many people using your product (and by extension money) as possible? Well in each example, there is a limited resource. Philip has only so much trust, Carl can only cook so much and Maciej & Shaun can only provide so much support. It makes sense, if you have some sort of limit, adjust your business model to match this limit.
  
  This isn't just saying you should have a beta. It's saying that you'll make users [wait a week](http://www.metafilter.com/newuser.mefi), or you'll [manually review their data](http://rubyforge.org) or that you have to [call to order](http://www.waxseals.com.au/ordering.htm). It's about having a quality of service and not driving yourself crazy trying to please other people. When Google takes a website and makes it run for ten billion users they are playing catch up to public demand. They are subject to the masses and on the back foot. What inspired me about Philip & Carl were that they are only subjects to themselves.
